# Terraform specific
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
crash.log
.terraform.lock.hcl
.terraform.tfstate.*.backup
.terraform.d/

# Node/npm
node_modules/
.npm/
.npmrc
package-lock.json

# IDE/editor stuff
.vscode/
.idea/
*.swp
*.swo

# OS/system files
.DS_Store
Thumbs.db
.env
.cache/
.config/
.docker/
.kube/
.bash*
.profile
.sudo_as_admin_successful
.viminfo
.qtc*
