# Terraform specific
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
crash.log
.terraform.lock.hcl
.terraform.tfstate.1745060439.backup

# IDE/editor stuff
.vscode/
.idea/
*.swp
*.swo

# OS-specific
.DS_Store
Thumbs.db

# Env and secrets
.env

# CLI/system files you don't want in GitHub
.bash_history
.bash_logout
.bashrc
.gitconfig
.profile
.sudo_as_admin_successful
.viminfo
.qtc*
.cache/
.config/
.docker/
.kube/
.npm/
.terraform.d/
